* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

.wrapper {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#guessField {
    width: 50%;
    padding: 10px;
    font-weight: 500;
    background-color: #dadada;
    color: black;
    border-radius: 10px;
    border: none;
}

#btn {
    width: 50%;
    padding: 10px;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

.results {
    margin-top: 20px;
}